
body{
  margin: 0 auto;
  padding: 0 auto;
}

.App {
  text-align: center;
  float: left;
  width: 100%;
}
.title {
  background-color: #222222;
  color: white;
  float: left;
  width: 100%;
}
.body123 {
  float: left;
  width: 100%;
  color: white;
  font-size: 145%;
  background-color: #222222;
}
